.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 25px 25px 0px rgb(0, 0, 0, 0.5);
  padding: 1.6rem 1.6rem 4rem;
  transition: background-color 0.5s;
}

.card:hover {
  background-color: rgb(15, 255, 107);
  cursor: pointer;
}

.card:active {
  opacity: 0.8;
}

img {
  width: 100%;
  border-radius: 10px;
}

h1 {
  color: #1f314f;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2.4rem;
}

p {
  color: #7d889e;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.188px;
  margin-top: 1.6rem;
  text-align: center;
  width: 25.6rem;
}
